# Backup files
*~

# NetBeans project
nbproject/
build.xml
manifest.mf
/bmi-p1/build/
/bmi-p1-03/build/
/bmi-p1-03/dist/
/bmi-p2-03/dist/
/bmi-p2-03/build/
/bmi-p2-03/zips/
/bmi-p2-03/out/
/build/

# Latex Aux
*.aux
*.log
*.out
*.synctex.gz
*.toc
/bmi-p3-03/build/
/bmi-p3-03/dist/
/bmi-p4-03/build/
/bmi-p4-03/dist/
